div{
  width:100%;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-direction: column;
}
#main{
  width:50%;
  background:rgba(0,0,0,.1);
  height:50vh;
  display:flex;
  flex-direction:column;
}
#edit{
  display:flex;
  flex-direction:row;
  background:rgba(255,0,0,.1);
  height:30%;
}
input{
  height:35px;
  border:none;
  margin:1%;
}
button{}
#note-container{
  background:rgba(0,255,0,.1);
  height:70%;
  display:flex;
  flex-direction:column;
  overflow:auto;
}
#note{
  height:10%;
  width:90%;
  padding:5%;
}